@import "variables";

@mixin font-face() {
  @font-face {
    font-family: "Source Sans Pro";
    src: url("@/assets/fonts/Pretendard-Regular.woff2");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Source Sans Pro";
    src: url("@/assets/fonts/Pretendard-ExtraLight.woff2");
    font-style: normal;
    font-weight: 200;
  }
  @font-face {
    font-family: "Source Sans Pro";
    src: url("@/assets/fonts/Pretendard-ExtraBold.woff2");
    font-style: normal;
    font-weight: 800;
  }
}

@mixin mobile {
  @media (max-width: #{$bp-tb - 1px}) {
    @content
  }
}

@mixin tablet {
  @media (min-width: #{$bp-tb}) and (max-width: #{$bp-pc - 1px}) {
    @content
  }
}

@mixin desktop {
  @media (min-width: #{$bp-pc}) {
    @content
  }
}

@mixin icon($name) {
  background-image: url('@/assets/icons/i-#{$name}-light.svg');
  background-size: cover;
  &-dark {
    background-image: url('@/assets/icons/i-#{$name}-dark.svg');
  }
}
