//// Colors
$primary: #115173;
$secondary: #393E46;
$warning: #FFD700;
$danger: #FF2E63;
$success: #36AE7C;
$purple: #913175;
$orange: #F99417;
$gray: #E9E7E7;
$gray-dark: #999797;
$dark: #242424;
$light: #F9F7F7;
$info: #112D4E;

//// Font-Sizes
$font-xl: 1.8rem;
$font-lg: 1.4rem;
$font-md: 1rem;
$font-sm: 0.8rem;
$font-xs: 0.4rem;

//// Media Queries
$bp-mo: 576px;
$bp-tb: 992px;
$bp-pc: 1200px;
$pc-max: 1920px;
$pc-min: 374px;
$header-pc: 90px;
$header-mo: 60px;
