@import "custom";
@import "mixins";


@include font-face();

body {
  font-family: "Source Sans Pro", serif;
  margin: 0;
  min-width: $bp-mo;

  #app {
    margin: 0 auto;
    width: 100%;

    main {
      min-height: 100vh;
      @include mobile {

      }
      @include tablet {

      }
      @include desktop {
        position: relative;
        width: calc(100% - $header-pc);
        max-width: $pc-max;
        margin: $header-pc auto 0 auto;
      }

    }
  }
}
