@import "custom";
@import "mixins";


@include font-face();

@mixin safe-area {
  @include mobile {
    margin: $header-mo auto 0 auto;
  }
  @include tablet {
    margin: $header-mo auto 0 auto;

  }
  @include desktop {
    max-width: $pc-max;
    margin: $header-pc auto 0 auto;
  }
}

body, html {
  font-family: "Source Sans Pro", serif;
  height: 100vh;
  @include mobile {
    font-size: 14px;
  }
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 22px;
  }
}

body {
  position: relative;
  margin: 0;
  min-width: $pc-min;

  #app {
    width: 100%;

    main {
      min-height: 100vh;
      @include desktop {
        max-width: $pc-max;
        margin: 0 auto;
      }
      @include mobile {
        min-width: $pc-min;

      }
    }

    footer {
      margin: 0 auto;
    }
  }
}

body.modal-open {
  overflow: hidden;
}

.btn-xlg {
  font-size: $font-lg;
  width: 170px;
  height: 50px;
  @include desktop {
    width: 270px;
    height: 75px;
  }
  @include tablet {
    width: 220px;
    height: 60px;
  }
}

.close {
  display: inline-block;
  background-image: url('@/assets/icons/i-close-light.svg');
  background-size: cover;
  width: 36px;
  height: 36px;
}

.info-box {
  background-color: $gray;
  box-sizing: border-box;
  padding: 36px;
  width: 47%;
  height: 300px;
  margin-bottom: 50px;
  border-radius: 0.4rem;
  @include tablet {
    margin-bottom: 37px;
    height: 270px;
  }
  @include mobile {
    width: 87%;
    margin-bottom: 26px;
    height: 210px;
  }

}
